@charset "utf-8";

body{
	background-color:#333;
	}

#myNavbar{
	margin-top:10px;
	}
	

.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0; 
    z-index: 100;  
    border-top: 0;  
	background-color: black;
	margin-left:auto;
	margin-right:auto;
}  

#nugal_logo{
	float:left;
	}



#navbarCollapse{
	position: relative;
    right: -220px;
    top: 0px;
    z-index: 1;
	padding-right:220px;
	}


#image_container{
	border: 2px solid #a1a1a1;
    padding: 5%; 
    background: #dddddd;
	margin: 5%;
	border: 2px solid #a1a1a1;
	border-radius: 25px;
	margin-left:auto;
	margin-right:auto;
}

myCarousel{
	border: 2px solid #a1a1a1;
     
    background: #dddddd;
	}

carousel-inner img{
	width:100%;
	}

#article_header{
	font-family: Arial, Helvetica, sans-serif;
	background-color:black; 
	color:white; 
	padding:20px;
	}

#article_heading{
	font-family: Arial, Helvetica, sans-serif;
	padding:0 10px 10px 10px;
	margin-top:10px;
	}

#article_details{
	border: 2px solid #a1a1a1;
    padding: 10%; 
    background: #dddddd;
   
    border-radius: 25px;
	}

#author {
	float:left;
	margin:20px;
	
	}

#glyphicons{
	text-align:right;
	background-color:#C0C0C0;
	border:thin;
	padding:10px;
	}

#article_author img{
	float:left;
	height:90px;
	witdh:90px;
	}
/*
.container-fluid{
	background-color:#852C77;
	}
*/

#article_wrapper {
	border-style:dashed;
	border-top-width:medium;
	background-color:white;
	}

article{
    border: 2px solid #a1a1a1;
    padding: 10%; 
    background: #dddddd;
   
    border-radius: 25px;
	font-family: Georgia, serif;
	}

article h3{
	font-style: italic;
	}

#article_container{
	background-color:black;
	padding: 5%;
	}
	
#bottom_container{
	background-color:#DDD;
	padding: 5%;
	 border: 2px solid #a1a1a1;
	 border-radius: 25px;
	}

#bottom_wrapper{
	background-color:#6A8595;
	}

#comments_headline{
	color:#0B0B7D;
	border-color:#5050EB;
	z-index:1;
	border-radius:5px;	
	padding-left:10px;
	padding-right:10px;
	margin:5px;
	border-style: outset;
	border-width:thick;
	background: -webkit-linear-gradient(left, rgba(235,235,80,.1), rgba(235,235,80,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(235,235,80,.1), rgba(235,235,80,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(235,235,80,.1), rgba(235,235,80,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(235,235,80,.1), rgba(235,235,80,1)); /* Standard syntax (must be last) */ /* Standard syntax (must be last) */
	border-radius:10px;
	}
	
#sponsered_headline{
	z-index:1;
	border-radius:5px;	
	color:#154A82;
	border-color:#2175CF;
	padding-left:10px;
	padding-right:10px;
	margin:5px;
	border-style: outset;
	border-width:thick;
	background: -webkit-linear-gradient(left, rgba(207,123,33,0.1), rgba(207,123,33,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(207,123,33,0.1), rgba(207,123,33,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(207,123,33,0.1), rgba(207,123,33,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(207,123,33,0.1), rgba(207,123,33,1)); /* Standard syntax (must be last) */ /* Standard syntax (must be last) */
	border-radius:10px;
	}

#write_comment_headline{
	z-index:1;
	border-radius:5px;	
	color:#821E3A;
	border-color:#DE3C6A;
	padding-left:10px;
	padding-right:10px;
	margin:5px;
	border-style: outset;
	border-width:thick;
	background: -webkit-linear-gradient(left, rgba(60,222,176,0.1), rgba(60,222,176,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(60,222,176,0.1), rgba(60,222,176,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(60,222,176,0.1), rgba(60,222,176,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(60,222,176,0.1), rgba(60,222,176,1)); /* Standard syntax (must be last) */ /* Standard syntax (must be last) */
	border-radius:10px;
	}



	
#sponsered_links{
	background-color:#B4D1F5;
	border-radius:10px;
	border:thin;
	padding:10px;
	}
	


#comments{
	background-color:#F59AAC;
	border:thin;
	padding:10px;
	border-radius:10px;
	}

.sponsered_link_image{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	float:left;
	}


#create_account, #upload, #join_us{
	
	
    padding-left: 50px;
    padding-right: 50px;
	
	}

#social_media_buttons{
	display: block;
    
    
	}

a .btn btn-info btn-lg{
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin:5px:
	}

	
.socialize{
	display: inline-block;
   
   
	}
	

#footer_categories h5{
	font-weight: bold;
	padding-left:5px;
	}

#footer_wrapper{
	background-color:#EFEFEF;
	margin:5% 5% 0 5%;
	border:thin;
	border-radius:25px;
	}
	
#footer{
	background-color:black;
	
	}

#footer img{
	position: relative;
    top: 0px;
    z-index: 1;
	}

#footer h6{
	position: relative;
    top: 0px;
    z-index: 1;
	}

#footer_company_links li{
	display: inline-block;
	
	}
 
 input[type=radio],
input[type=checkbox] {
	display: none;
}

label:before {
	content: "";
	display: inline-block;

	width: 16px;
	height: 16px;

	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #aaa;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.radio label:before {
	border-radius: 8px;
}
 
 label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 13px;
}
 
 input[type=radio]:checked + label:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}

 
 @media screen and  (max-width: 380px) { 
#nugal_logo img{
	width:170px;
	position: absolute;
    top: 6px;
	}
 
  }
 
 @media screen and (min-width: 381px) and (max-width: 540px) { 
#nugal_logo img{
	width:170px;
	position: absolute;
    top: 6px;
	}
  }
 
 @media screen and (min-width: 541px) and (max-width: 767px) { 
#nugal_logo img{
	width:170px;
	position: absolute;
    top: 5px;
	}

 }
 
 @media screen and (min-width: 769px) and (max-width: 980px) { 


#nugal_logo img{
	width:150px;
	position: absolute;
    top: 8px;
	}
 }
 
 @media screen and (min-width: 981px) and (max-width: 1200px) { 

#nugal_logo img{
	position: absolute;
    top: -1px;
	 	}
 }

 @media screen and (min-width: 1201px){ 

#nugal_logo img{
	position: absolute;
    top: -1px;
	}
 }