@charset "utf-8";

body{
	background-color:#333;
	}

#myNavbar{
	margin-top:10px;
	}
	

.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0; 
    z-index: 100;  
    border-top: 0;  
	background-color: black;
	margin-left:auto;
	margin-right:auto;
}  

#nugal_logo{
	float:left;
	}



#navbarCollapse{
	position: relative;
    right: -220px;
    top: 0px;
    z-index: 1;
	padding-right:220px;
	}


#image_container{
	border: 2px solid #a1a1a1;
    padding: 5%; 
    background: #dddddd;
	margin: 5%;
	border: 2px solid #a1a1a1;
	border-radius: 25px;
	margin-left:auto;
	margin-right:auto;
}

myCarousel{
	border: 2px solid #a1a1a1;
     
    background: #dddddd;
	}

carousel-inner img{
	width:100%;
	}

#article_header{
	font-family: Arial, Helvetica, sans-serif;
	background-color:black; 
	color:white; 
	padding:20px;
	}

#article_heading{
	padding:0 10px 10px 10px;
	margin-top:10px;
	}

#article_details{
	border: 2px solid #a1a1a1;
    padding: 10%; 
    background: #dddddd;
   
    border-radius: 25px;
	}

#author {
	float:left;
	margin:20px;
	
	}

#glyphicons{
	text-align:right;
	background-color:#C0C0C0;
	border:thin;
	padding:10px;
	}

#article_author img{
	float:left;
	height:90px;
	witdh:90px;
	}
/*
.container-fluid{
	background-color:#852C77;
	}
*/

#article_wrapper {
	border-style:dashed;
	border-top-width:medium;
	background-color:white;
	}

article{
    border: 2px solid #a1a1a1;
    padding: 10%; 
    background: #dddddd;
   
    border-radius: 25px;
	font-family: Georgia, serif;
	}

article h3{
	font-style: italic;
	}

#article_container{
	background-color:black;
	padding: 5%;
	}
	
#bottom_container{
	background-color:#B4D1F5;
	padding: 5%;
	 border: 2px solid #a1a1a1;
	 border-radius: 25px;
	}

#bottom_wrapper{
	background-color:#6A8595;
	}

#comments_headline{
	background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); /* Standard syntax (must be last) */ /* Standard syntax (must be last) */
	border-radius:10px;
	}
	
#sponsered_headline{
	background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); /* Standard syntax (must be last) */ /* Standard syntax (must be last) */
	border-radius:10px;
	}

#write_comment_headline{
	background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); /* Standard syntax (must be last) */ /* Standard syntax (must be last) */
	border-radius:10px;
	}



	
#sponsered_links{
	background-color:#B4D1F5;
	border-radius:10px;
	border:thin;
	padding:10px;
	}
	
#respond{
	border-radius:10px;
	background-color:#F7F99D;
	border:thin;
	padding:10px;
	}

#comments{
	background-color:#F59AAC;
	border:thin;
	padding:10px;
	border-radius:10px;
	}

.sponsered_link_image{
	float:left;
	}


#create_account, #upload, #join_us{
	
	
    padding-left: 50px;
    padding-right: 50px;
	
	}

#social_media_buttons{
	display: block;
    
    
	}

a .btn btn-info btn-lg{
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin:5px:
	}

	
.socialize{
	display: inline-block;
   
   
	}
	

#footer_categories h5{
	font-weight: bold;
	padding-left:5px;
	}

#footer_wrapper{
	background-color:#EFEFEF;
	margin:5% 5% 0 5%;
	border:thin;
	border-radius:25px;
	}
	
#footer{
	background-color:black;
	
	}

#footer img{
	position: relative;
    top: 0px;
    z-index: 1;
	}

#footer h6{
	position: relative;
    top: 0px;
    z-index: 1;
	}

#footer_company_links li{
	display: inline-block;
	
	}

#log_form_box{
	background-color:#E0E8E9;
	padding:20px;
	
	border:thin;
	border-radius:25px;
	}

#registration_form_box{
	background-color:#F1F2DB;
	padding:20px;
	
	border:thin;
	border-radius:25px;
	}

#reg_heading{
	text-align:center;
	
	z-index:1;
	border-radius:5px;	
	color:#154A82;
	border-color:#2175CF;
	padding-left:10px;
	padding-right:10px;
	margin:5px;
	border-style: outset;
	border-width:thick;
	background: -webkit-linear-gradient(left, rgba(207,123,33,0.1), rgba(207,123,33,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(207,123,33,0.1), rgba(207,123,33,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(207,123,33,0.1), rgba(207,123,33,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(207,123,33,0.1), rgba(207,123,33,1)); /* Standard syntax (must be last) */ /* Standard syntax (must be last) */
	border-radius:10px;
	}


		
	
	
#log_heading{
	text-align:center;
	z-index:1;
	border-radius:5px;	
	color:#821E3A;
	border-color:#DE3C6A;
	padding-left:10px;
	padding-right:10px;
	margin:5px;
	border-style: outset;
	border-width:thick;
	background: -webkit-linear-gradient(left, rgba(60,222,176,0.1), rgba(60,222,176,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(60,222,176,0.1), rgba(60,222,176,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(60,222,176,0.1), rgba(60,222,176,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(60,222,176,0.1), rgba(60,222,176,1)); /* Standard syntax (must be last) */ /* Standard syntax (must be last) */
	border-radius:10px;
	}
	

	
/*
the form template
*/
body>#login h1 {
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    background-color: #fff;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    top: 52px;
    width: 130px;
    z-index: 1;
}
body>#login h1:not(.subdomain_image):not(.subdomain) a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-image: url(https://d2umsx3twley6r.cloudfront.net/assets/website/sprites-57e14dd7782dcbfa62637adc0ad5dba7.png);
    background-position: -2px -2px;
    border: 2px solid transparent;
    display: block;
    height: 41px;
    text-indent: -9000px;
}
body>#login h1:not(.subdomain_image):not(.subdomain) a:hover {
    box-shadow: 0 0 0 1px #f90;
    -moz-box-shadow: 0 0 0 1px #f90;
    -webkit-box-shadow: 0 0 0 1px #f90;
    background-color: #f90;
    background-position: -2px -47px;
    border-color: #ffffff;
}
body>#login h1.subdomain {
    max-width: 400px;
    text-overflow: hidden;
    top: 41px;
    white-space: nowrap;
    width: auto;
}
body>#login h1.subdomain a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    padding: 0 15px;
}
body>#login h1.subdomain_image {
    top: 55px;
    width: auto;
}
body>#login h1.subdomain_image a,
body>#login h1.subdomain_image img {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: inline-block;
    height: 43px;
}
body>#login h1.subdomain_image a { padding: 4px 0 }
body>#login form {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -wekbit-box-sizing: border-box;
    border: 8px solid #F5F3F0;
    display: inline-block;
    margin: 27px auto 0;
    padding: 60px 50px 45px;
    position: relative;
    z-index: 0;
}
body>#login form .form_errors {
    color: #f90;
    display: block;
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 40px;
}
body>#login form .field_container {
    margin: 0 auto 12px;
    text-align: left;
    width: auto;
}
body>#login form .field_container:last-child { margin-bottom: 0 }
body>#login form button {
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    background-color: #f6f6f6;
    cursor: pointer;
    margin-left: 12px;
    height: 56px;
    padding: 5px;
    width: auto;
}
body>#login form button:hover { background-color: #f8f8f8 }
body>#login form button:active { padding: 5px }
body>#login form button:active .button_text {
    box-shadow: 0 0 8px #ccc;
    -moz-box-shadow: 0 0 8px #ccc;
    -webkit-box-shadow: 0 0 8px #ccc;
    background-color: #f6f6f6;
    background-repeat: repeat-x;
    background-image: linear-gradient(top, #f6f6f6, #f6f6f6);
    background-image: -khtml-gradient(linear, left top, left bottom, from(#f6f6f6), to(#f6f6f6));
    background-image: -moz-linear-gradient(top, #f6f6f6, #f6f6f6);
    background-image: -ms-linear-gradient(top, #f6f6f6, #f6f6f6);
    background-image: -o-linear-gradient(top, #f6f6f6, #f6f6f6);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #f6f6f6));
    background-image: -webkit-linear-gradient(top, #f6f6f6, #f6f6f6);
    height: 46px;
    width: auto;
}
body>#login form button #google_openid_icon {
    background-image: url(https://d2umsx3twley6r.cloudfront.net/assets/website/sprites-57e14dd7782dcbfa62637adc0ad5dba7.png);
    background-position: -211px -414px;
    display: inline-block;
    height: 15px;
    margin-right: 3px;
    position: relative;
    top: -2px;
    vertical-align: middle;
    width: 16px;
}
body>#login form button .button_text {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.2);
    background-color: #f0f0f0;
    background-repeat: repeat-x;
    background-image: linear-gradient(top, #fafafa, #f0f0f0);
    background-image: -khtml-gradient(linear, left top, left bottom, from(#fafafa), to(#f0f0f0));
    background-image: -moz-linear-gradient(top, #fafafa, #f0f0f0);
    background-image: -ms-linear-gradient(top, #fafafa, #f0f0f0);
    background-image: -o-linear-gradient(top, #fafafa, #f0f0f0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #f0f0f0));
    background-image: -webkit-linear-gradient(top, #fafafa, #f0f0f0);
    color: #807b6e;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    height: 46px;
    line-height: 46px;
    padding: 0 25px;
    text-shadow: 1px 1px 0 #fff;
    width: auto;
}
body>#login form input[type=text],
body>#login form input[type=email],
body>#login form input[type=password] {
    border-color: #F5F3F0;
    border-style: solid;
    border-width: 4px;
    display: inline-block;
    position: relative;
}
body>#login form input[type=text]:focus,
body>#login form input[type=email]:focus,
body>#login form input[type=password]:focus {
    border-color: #59de2c;
    border-width: 2px;
    padding: 14px 18px;
}
body>#login form input[type=text].error,
body>#login form input[type=email].error,
body>#login form input[type=password].error {
    border-width: 2px;
    padding: 14px 18px;
}
body>#login form input[type=text][disabled],
body>#login form input[type=email][disabled],
body>#login form input[type=password][disabled] {
    background-color: #F5F3F0;
    color: #999488;
}
body>#login form .login_link {
    color: #807b6e;
    font-size: 13px;
    font-weight: 500;
}
body>#login form .login_link:hover { color: #f90 }
body>#login form#login_form input[type=text],
body>#login form#login_form input[type=email],
body>#login form#login_form input[type=password] { width: 290px }
body>#login form#login_form #google_sign_in_button { display: none }
body>#login form#login_form #sign_in_options {
    color: #999488;
    font-size: 13px;
    padding: 30px 0 0;
}
*/
	
 @media screen and  (max-width: 380px) { 
#nugal_logo img{
	width:170px;
	position: absolute;
    top: 6px;
	}
 
  }
 
 @media screen and (min-width: 381px) and (max-width: 540px) { 
#nugal_logo img{
	width:170px;
	position: absolute;
    top: 6px;
	}
  }
 
 @media screen and (min-width: 541px) and (max-width: 767px) { 
#nugal_logo img{
	width:170px;
	position: absolute;
    top: 5px;
	}

 }
 
 @media screen and (min-width: 769px) and (max-width: 980px) { 


#nugal_logo img{
	width:150px;
	position: absolute;
    top: 8px;
	}
 }
 
 @media screen and (min-width: 981px) and (max-width: 1200px) { 
#registration_form_box, #log_form_box{{
	
	margin-left:100px;
	margin-right:100px;
	
	}


#nugal_logo img{
	position: absolute;
    top: -1px;
	 	}
 }

 @media screen and (min-width: 1201px){ 

#registration_form_box, #log_form_box{{
	
	margin-left:140px;
	margin-right:140px;
	
	}

#nugal_logo img{
	position: absolute;
    top: -1px;
	}
 }