body{
	background-color:#333;
	}

#header{
	
	}

#wrapper{
	background-color:#000;
	color:#FFF;
	}

#nugal_logo{
	float:left;
	}



#navbarCollapse{
	position: relative;
    right: -220px;
    top: 0px;
    z-index: 1;
	padding-right:220px;
	}

#myNavbar{
	margin-top:10px;
	}
	

.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0; 
    z-index: 100;  
    border-top: 0;  
	background-color: black;
	margin-left:auto;
	margin-right:auto;
}  

#top_search{
	margin-top:20px;
	}

#header_social_icons li{
	display: inline-block;
	margin-top:20px;
	}



	
#wrapper a.list-group-item {
	overflow:hidden;
    height:auto;
    min-height:220px;
}

#wrapper a.list-group-item.active small {
    color:#fff;
}

#wrapper .stars {
    margin:20px auto 1px;    
}

#wrapper a div{
	border:3px;
	border-color:black;
	
	border-radius:5px;
	
	}




#wrapper a:visited div{
	
	}

#wrapper a:hover div{
	
	}

/* unvisited link */
#wrapper a:link {
    color:#333;
}

/* visited link */
#wrapper a:visited {
    color:#36F;
	
}

/* mouse over link */
#wrapper a:hover {
    color:#9FBAC4;
	
}

/* selected link */
#wrapper a:active {
    color:#F06;
}

body {
    padding-top: 50px;
}
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}


#lower_wrapper{
	background-color:#9BA5AE;
	
	}


#sponsered_links{
	margin-left: 0;
    margin-right: 0;
	}

#sponsered_links h4{
	text-align:center;
	
	font-weight: bold;
	}

#sponsered_links img{
	display:block;
    margin:auto;
	}

#sponsered_heading{
	height:50px;
	margin-left: auto;
    margin-right: auto;
	}


	
#sponsered_heading img{	
	display: block;
    margin-left: auto;
    margin-right: auto;
	
	}

#social_heading img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	
	}
	
#journalist_heading img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	
	}

#create_account, #upload, #join_us{
	
	
    padding-left: 50px;
    padding-right: 50px;
	
	}

#social_media_buttons{
	display: block;
    
    
	}

a .btn btn-info btn-lg{
	
	}

	
.socialize{
	display: inline-block;
   
   
	}

lower_heading img{
	z-index:1;
	border-radius:5px;	
	height:41px;
	padding-left:10px;
	padding-right:10px;
	margin:5px;
	border-style: outset;
	border-width:thick;
	}
	
.socialize img{
	display:block;
    margin:auto;
	}



#social-container{
	background-color:#0CF;
	
	padding:20px;
	
	border:thin;
	border-radius:25px;
	}

#journalist_container{
	background-color:#FC0;
	
	padding:20px;
	
	border:thin;
	border-radius:25px;
	}

#sponsered_container{
	background-color:#C9F;
	
	padding:20px;
	
	border:thin;
	border-radius:25px;
	}

#footer_categories h5{
	font-weight: bold;
	padding-left:5px;
	}

#footer_wrapper{
	background-color:#EFEFEF;
	margin:5% 5% 0 5%;
	border:thin;
	border-radius:25px;
	}
	
#footer{
	background-color:black;
	
	}

#footer img{
	position: relative;
    top: 0px;
    z-index: 1;
	}

#footer h6{
	position: relative;
    top: 0px;
    z-index: 1;
	}

#footer_company_links li{
	display: inline-block;
	
	}

@media screen and  (max-width: 380px) { 
#nugal_logo img{
	width:170px;
	position: absolute;
    top: 6px;
	}

#sponsered_heading img{	
	
	}

#social_heading img{

	}
	
#journalist_heading img{
	
	}
 }
 
 @media screen and (min-width: 381px) and (max-width: 540px) { 
#nugal_logo img{
	width:170px;
	position: absolute;
    top: 6px;
	}

#sponsered_heading img{	
	width:
	}

#social_heading img{
	width:
	}
	
#journalist_heading img{
	width:
	}
 }
 
 @media screen and (min-width: 541px) and (max-width: 767px) { 
#nugal_logo img{
	width:170px;
	position: absolute;
    top: 5px;
	}

#sponsered_heading img{	
	width:
	}

#social_heading img{
	width:
	}
	
#journalist_heading img{
	width:
	}
 }
 
 @media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}
	
 @media screen and (min-width: 769px) and (max-width: 980px) { 
#wrapper .row img{
	height:100%;
	width:100%;
}

#nugal_logo img{
	width:150px;
	position: absolute;
    top: 8px;
	}
	
	#sponsered_heading img{	
	width:
	}

#social_heading img{
	width:
	}
	
#journalist_heading img{
	width:
	}
	
 }
 
 @media screen and (min-width: 981px) and (max-width: 1200px) { 

#nugal_logo img{
	position: absolute;
    top: -1px;
	 	}
/*
#wrapper .row {
	padding-left:200px;
	
	}
*/

#wrapper .row img{
	height:100%;
	width:100%;
}

#create_account h4{
	font-size:16px;
}

#sponsered_heading img{	
	width:90%;
	}

#social_heading img{
	width:
	}
	
#journalist_heading img{
	width:
	}

 }
 
 @media screen and (min-width: 1201px){ 

#nugal_logo img{
	position: absolute;
    top: -1px;
	}
/*
#wrapper .row {
	padding-left:200px;
	
	}
*/



#wrapper .row img{
	height:100%;
	width:100%;
}

#sponsered_heading img{	
	width:
	}

#social_heading img{
	width:
	}
	
#journalist_heading img{
	width:
	}
 }

