@charset "utf-8";

#outer_wrapper{
	background: #dddddd;
	}

#wrapper{
	background-color:white;
	background-url: http://api.thumbr.it/whitenoise-361x370.png?background=e8eef0ff&noise=626262&density=44&opacity=15;
	border: 2px solid #a1a1a1;
    padding: 5%; 
    
	margin: 5%;
	border: 2px solid #a1a1a1;
	border-radius: 25px;
	margin-left:auto;
	margin-right:auto;
	}

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}

.panel-heading{
	overflow:hidden;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:700;
	}

.panel-heading p{
	
	}

#edit_user{
	background-color:#E0E8E9;
	}

@media screen and  (max-width: 380px) { 
#nugal_logo img{
	width:170px;
	position: absolute;
    top: 6px;
	}

 }
 
 @media screen and (min-width: 381px) and (max-width: 540px) { 
#nugal_logo img{
	width:170px;
	position: absolute;
    top: 6px;
	}

 }
 
 @media screen and (min-width: 541px) and (max-width: 767px) { 
#nugal_logo img{
	width:170px;
	position: absolute;
    top: 5px;
	}


 }
 
 @media screen and (min-width: 769px) and (max-width: 980px) { 

#nugal_logo img{
	width:150px;
	position: absolute;
    top: 8px;
	}
	

	
 }
 
 @media screen and (min-width: 981px) and (max-width: 1200px) { 

#nugal_logo img{
	position: absolute;
    top: -1px;
	 	}


 }
 
 @media screen and (min-width: 1201px){ 

#nugal_logo img{
	position: absolute;
    top: -1px;
	}

 }
@media (max-width:768px)
{
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}
}